## Test Cases

Test Case - Recommend exhibitors for answers

In [1]:
import pandas as pd
import sys
import os

sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))
from matching_model.models.recommend_exhibitors_by_answers import recommend_exhibitors_for_answer

test_answer = "To source products and services"
results = recommend_exhibitors_for_answer(test_answer)

# Basic assertions
assert isinstance(results, pd.DataFrame), "Output is not a DataFrame"
assert not results.empty, "No results returned"
assert "exhibitor_id" in results.columns, "Missing 'exhibitor_id' column"

print("recommend_exhibitors_for_answer passed all tests.")
results.head()

recommend_exhibitors_for_answer passed all tests.

,exhibitor_id,exhibitor_name,similarity_score_sum,matched_category_count,matched_category_names,category_count,penalty_factor,final_score
0,32278,Exotic Holidays Holidays,0.6877,1,6.3 Services & facilities,3,0.94,0.646438
3,92462,Russian Travel Company,0.6877,1,6.3 Services & facilities,6,0.88,0.605176
1,48028,Prime Adventures Journeys,0.7179,1,9.2 Manufacturer / distributor of consumables,11,0.78,0.559962
2,68142,Global Tours Voyages,0.6953,1,11.3 Other services in the sphere of business ...,10,0.80,0.556240

Test Case - Recommend exhibitors by email id

In [2]:
from matching_model.models.recommend_exhibitors_by_email import recommend_exhibitors_for_visitor_email

test_email = "aleksandar.dimkov+mitt10_V0iB_2bw2@bss.com.mk"
results = recommend_exhibitors_for_visitor_email(test_email, top_k=5)

assert isinstance(results, pd.DataFrame), "Output is not a DataFrame"
assert not results.empty, "No results returned"
assert "exhibitor_name" in results.columns, "Missing 'exhibitor_name' column"

print("recommend_exhibitors_for_visitor_email passed all tests.")
results.head()

recommend_exhibitors_for_visitor_email passed all tests.

,exhibitor_id,exhibitor_name,similarity_score_sum,matched_category_count,final_score
4,21865,Dream Holidays Holidays,2.8177,4,2.197806
9,68142,Global Tours Voyages,2.6621,4,2.129680
6,31331,Exotic Adventures Journeys,1.9352,3,1.819088
2,17729,Sunny Travel Journeys,2.1755,3,1.783910
11,90556,Turkey Travels,1.4652,2,1.377288

Test Case - Recommend visitors by exhibitor id

In [4]:
from matching_model.models.recommend_visitors_by_exhibitorID import recommend_visitors_for_exhibitor

test_exhibitor_id = 92462
results = recommend_visitors_for_exhibitor(test_exhibitor_id, top_k=5)

assert isinstance(results, pd.DataFrame), "Output is not a DataFrame"
assert not results.empty, "No results returned"
assert "visitor_id" in results.columns, "Missing 'visitor_id' column"

print("recommend_visitors_for_exhibitor passed all tests.")
results.head()

recommend_visitors_for_exhibitor passed all tests.

,visitor_id,email,similarity_score_sum,matched_category_count,final_score
21,67b708f32d21f543a10965fa,tanja+202_99oJ@bss.mk,1.4262,2,1.4262
46,hcrco3j3ndo542hbg2twb0np,tanja+202_99oJ_VzXA@bss.mk,1.4262,2,1.4262
10,67b45356197e604dd2722d43,tanja+182_Ahsx@bss.mk,1.3818,2,1.3818
77,yzc27c0f8w2ortjytg54wtmh,tanja+182_Ahsx_Lcd6@bss.mk,1.3818,2,1.3818
45,h6m3ppqa2ui8z922ddkcrdxz,tanja+182_Ahsx_hqUn@bss.mk,1.3818,2,1.3818

Edge case test scenario

In [5]:
invalid_email = "notareal@email.com"
assert recommend_exhibitors_for_visitor_email(invalid_email).empty, "Should return empty DataFrame for unknown email"

invalid_exhibitor = "00000"
assert recommend_visitors_for_exhibitor(invalid_exhibitor).empty, "Should return empty DataFrame for invalid exhibitor ID"

print("Edge cases passed.")

No answers found for this email.
No visitor matches found for exhibitor ID: 00000
Edge cases passed.