## Recommend exhibitors by visitor email id

import libraries

In [1]:
import sys
import os

sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))
from models.recommend_exhibitors_by_email import recommend_exhibitors_for_visitor_email

Recommend exhibitor based on email id

In [ ]:
recommend_exhibitors_for_visitor_email("tatjana+182_N1PC@bss.mk")

,exhibitor_id,exhibitor_name,similarity_score_sum,matched_category_count,final_score
7,68142,Global Tours Voyages,1.4767,2,1.181360
6,51839,Dream Getaways Expeditions,0.9847,1,0.866536
8,74870,Exotic Tours Journeys,0.9847,1,0.827148
0,13033,Prime Vacations Expeditions,0.7788,1,0.716496
4,32278,Exotic Holidays Holidays,0.6802,1,0.639388
2,18004,Exotic Getaways Journeys,0.6327,1,0.620046
9,92462,Russian Travel Company,0.6802,1,0.598576